*{
    margin: 0;
    padding: 0;
}

.background{
    background-color: rgb(19, 19, 19);
}

.background::after{ 
    content: "";
    background-image: url(img/peakpx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0.15;
}

header {
    background-color: rgba(179, 0, 36, 0.252);
}

/* .box{
    border: 1px solid white;
    margin: 25px;
} */

.heading {
    font-size: 80px;
    font-family: "Teko", sans-serif;
    font-weight: 10000;
    text-align: center;
    text-shadow: 0 0 15px white;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    z-index: 1;
    transition: color 0.5s;
}

.heading:hover{
    color: rgb(179, 0, 36);
    text-shadow: 0 0 25px rgb(179, 0, 36);
}

.pages ul{
    display: flex;
    justify-content: center;
    position: relative;
}

.pages ul li {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    padding:5px;
    margin: 50px 75px;
    list-style: none;
    color: rgb(255, 255, 255);
    transition: color 0.5s;
}

.pages ul li:hover{
    font-weight: 200;
    z-index: 100;
    padding: 5px;
    transform: scale(1.5);
    color: rgba(200, 199, 199, 0.647);
}

main {
    height: 100vh;
}
